.App {
  text-align: center;
}


.fp {
  align-items: flex-end;
  
  max-height: 450px;
 width: 100%;
}

.sp {
  width: 280px;
  height: 280px;
 float: left;
}

.card {
  max-width: 300px;
  max-height: 300px;

}

.sections{
  
  padding-top: 250px;
  display: flex;
  
}