.App {
  text-align: center;
}


.fp {
  align-items: flex-end;
  
  max-height: 460px;
 width: 99.9%;
}

.sp {
  width: 280px;
  height: 280px;
 float: left;
}

.card {
  max-width: 35%;
  max-height: 380px;
  align-content: space-between;
  padding-top: none;
 


}

.sections{
  
  padding-top: 50px;
  display: flex;
  padding-left: 180px;
  padding-right: 180px;
  
}

.mapouter {
  padding-top: 0px;
}

.gmap_canvas{
  width: 100%;
  float: right;
 

}

.contacto {
  float: center;
  padding-top: 100px;
  padding-bottom: 2px;
}

section {
  padding-top: 100px;
  padding-bottom: 150px;
}

.texto{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.textoo{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}

footer {
  height: 50px;
}

.col{
  max-width: 50%;

}
 
.listish{
  display: -webkit-inline-box;
  border: 2px;
    border-color: rgba(0, 0, 0, 0.08);
    border-style: solid;
    padding-left: 0px;

}

.d-block{
  height: 450px;
}

.navli{
font-size: 24px;
}

section {
  padding-bottom: 15px;
  padding-top: 15px;
}
